/*@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*/
@font-face {
    font-family: Caprasimo;
    font-style: normal;
    font-weight: 400;
    src:url('fonts/Caprasimo/Caprasimo-Regular.woff') format('woff')
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.Game-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 20px 50px;
    width: 100%;
}

.difficultyTime{
    display: inline-flex;
}

.bestTime{
    font:100 18px 'Caprasimo',serif;
    padding: 0 5px;
}
.gameText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.difficulty{
    font:100 18px 'Caprasimo',serif;
    padding: 0 5px;
}

.input-form{
    padding: 5px;
    width: 100%;
    font:100 15px 'Caprasimo',serif;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form>label{
    padding: 5px;
}

input[type=number] {
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 45px;
}

#number {
    font-family: 'Major Mono Display', monospace;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 2em;
    color:black;
    text-align: center;
    border-radius: 5px;
}

.input-container {
    position: relative;
    border-radius: 5px;
    width: 150px;
}

#minus,
#plus {
    font-family: 'Major Mono Display', monospace;
    background: chocolate;
    color: #fff;
    font-weight: 800;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    cursor: pointer;
}


#minus:active,#plus:active {
    color: chocolate;
    background-color: #fff;
    border: 1px solid chocolate;
}

#minus {
    content: "-";
    top: 0;
    left: 0;
}

#plus {
    content: "+";
    right: 0;
    top: 0;
}
button[type=button] {
    padding: 5px;
    text-align: center;
    width: 150px;
    height: 45px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
    border: 1px solid black;
    color:white;
    background-color: chocolate;
}

button[type=button]:active {
    border: 1px groove chocolate;
    color:chocolate;
    background-color:white;
}

.block{
    width: 120px;
    height: 120px;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-weight: bold;
}

.container{
    padding: 5px;
    display: grid;
    gap: 5px;
    width:4fr;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    grid-auto-rows: minmax(50px, auto);
    margin: auto 0;
    background-color: chocolate;
}

.front{
    width: 120px;
    height: 120px;
    position: absolute;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.behind{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    border: 4px groove white;
    font:100 12px 'Caprasimo',serif;
    rotate: y 180deg;
}

.title{
    font:400 50px 'Caprasimo';
    text-align: center;
    width: 100%;
    height: fit-content;
}

.level{
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    padding: 5px;
}

.inputButton,.inputNumber,.display{
    padding: 2px 5px;
}

.flip{
    rotate: y 180deg;
    transform-style: preserve-3d;
    transition: rotate 4;
}

.GameOver{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    z-index: 1;
    position: absolute;
    background-color: white;
    border: 2px solid chocolate;
   margin-top: 80px;
}

.fa-circle-xmark{
    color: chocolate;
    margin-left: 92%;
    top: 0;
    margin-top: 10px;
    position: absolute;
    padding: 5px;
}
#close{
    font-weight: bold;
}

.hide{
    display: none;
}

@media only screen and (max-width: 1280px) {
    .container{
        padding: 5px;
        display: grid;
        gap: 5px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(0, 77, 82);
    }
    .GameOver{
        border-color:   rgb(0, 77, 82);
        width: 400px;
        height: 400px;
    }
    .fa-circle-xmark{
        color: rgb(0, 77, 82);
    }
    #minus,#plus {
        background: rgb(0, 77, 82);
    }
    #minus:active,#plus:active {
        color: rgb(0, 77, 82);
        background-color: #fff;
        border: 1px solid rgb(0, 77, 82);
    }
    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(0, 77, 82);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(0, 77, 82);
        color:rgb(0, 77, 82);
        background-color:white;
    }

    .front,.behind,.block{
        width: 120px;
        height: 120px;
    }

    .behind{
        font:100 12px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

}
@media only screen and (max-width: 850px) {
    .container{
        padding: 5px;
        display: grid;
        gap: 5px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(0, 0, 0);
    }
    .GameOver{
        border-color:  rgb(0, 0, 0);
        width: 800px;
        height: 800px;
    }
    .fa-circle-xmark{
        color: rgb(0, 0, 0);
    }
    #minus,#plus {
        background: rgb(0, 0, 0);
    }
    #minus:active,#plus:active {
        color: rgb(0, 0, 0);
        background-color: #fff;
        border: 1px solid rgb(0, 0, 0);
    }
    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(0, 0, 0);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(0, 0, 0);
        color:rgb(0, 0, 0);
        background-color:white;
    }

    .front,.behind,.block{
        width: 120px;
        height: 120px;
    }

    .behind{
        font:300 14px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

}

@media only screen and (max-width: 780px) {
    .container{
        padding: 4px;
        display: grid;
        gap: 4px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(0, 0, 0);
    }
    .GameOver{
        border-color:  rgb(0, 0, 0);
        width: 700px;
        height: 700px;
    }
    .Game-Container{
        padding: 5px 10px;
    }

    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(0, 0, 0);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(0, 0, 0);
        color:rgb(0, 0, 0);
        background-color:white;
    }

    .front,.behind,.block{
        width: 100px;
        height: 100px;
    }

    .behind{
        font:300 14px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

}

@media only screen and (max-width: 560px) {
    .container{
        padding: 2px;
        display: grid;
        gap: 2px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(0, 0, 0);
    }
    .GameOver{
        border-color:  rgb(0, 0, 0);
        width: 500px;
        height: 500px;
    }
    .Game-Container{
        padding: 5px 10px;
    }

    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(0, 0, 0);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(0, 0, 0);
        color:rgb(0, 0, 0);
        background-color:white;
    }
    .front,.behind,.block{
        width: 95px;
        height: 95px;
    }

    .behind{
        font:300 12px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

    .difficulty{
        font:100 16px 'Caprasimo',serif;
        padding: 0 5px;
    }
    .bestTime{
        font:100 16px 'Caprasimo',serif;
    }

}

@media only screen and (max-width: 450px) {
    .container{
        padding: 5px;
        display: grid;
        gap: 5px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(0, 91, 127);
    }

    .GameOver{
        border-color:  rgb(0, 91, 127);
        width: 400px;
        height: 400px;
    }
    #minus,#plus {
        background: rgb(0, 91, 127);
    }
    #minus:active,#plus:active {
        color: rgb(0, 91, 127);
        background-color: #fff;
        border: 1px solid rgb(0, 91, 127);
    }
    .Game-Container{
        padding: 5px 10px;
    }
    .fa-circle-xmark{
        color: rgb(0, 91, 127);
    }

    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(0, 91, 127);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(0, 91, 127);
        color:rgb(0, 91, 127);
        background-color:white;
    }

    .front,.behind,.block{
        width: 75px;
        height: 75px;
    }

    .behind{
        font:100 10px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

}

@media only screen and (max-width: 390px) {
    .container{
        padding: 2px;
        display: grid;
        gap: 2px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(0, 120, 74);
    }

    .GameOver{
        border-color:  rgb(0, 120, 74);
        width: 350px;
        height: 350px;
    }

    #minus,#plus {
        background: rgb(0, 120, 74);
    }
    #minus:active,#plus:active {
        color: rgb(0, 120, 74);
        background-color: #fff;
        border: 1px solid rgb(0, 120, 74);
    }
    .fa-circle-xmark{
        color:  rgb(0, 120, 74);
    }
    

     button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(0, 120, 74);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(0, 120, 74);
        color:rgb(0, 120, 74);
        background-color:white;
    }

    .front,.behind,.block{
        width: 75px;
        height: 75px;
    }

    .Game-Container{
        padding: 5px 10px;
    }

    .behind{
        font:100 10px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

}

@media only screen and (max-width: 375px) {
    .container{
        padding: 2px;
        display: grid;
        gap: 2px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(0, 65, 47);
    }

    .fa-circle-xmark{
        color:rgb(0, 65, 47);
    }
    #minus,#plus {
        background:rgb(0, 65, 47);
    }
    #minus:active,#plus:active {
        color: rgb(0, 65, 47);
        background-color: #fff;
        border: 1px solid rgb(0, 65, 47);
    }
    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(0, 65, 47);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(0, 65, 47);
        color:rgb(0, 65, 47);
        background-color:white;
    }
    .front,.behind,.block{
        width: 70px;
        height: 70px;
    }

    .Game-Container{
        padding: 5px 10px;
    }
    .GameOver{
        border-color:  rgb(0, 65, 47);
        width: 350px;
        height: 350px;
    }

    .behind{
        font:100 10px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

}

@media only screen and (max-width: 360px) {
    .container{
        padding: 5px;
        display: grid;
        gap: 2px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(82, 0, 176);
    }

    #minus,#plus {
        background:rgb(82, 0, 176);
    }
    #minus:active,#plus:active {
        color: rgb(82, 0, 176);
        background-color: #fff;
        border: 1px solid rgb(82, 0, 176);
    }
    .fa-circle-xmark{
        color:rgb(82, 0, 176);
    }
    .Game-Container{
        padding: 5px 10px;
    }
    .GameOver{
        border-color:  rgb(82, 0, 176);
        width: 350px;
        height: 350px;
    }

    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(82, 0, 176);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(82, 0, 176);
        color:rgb(82, 0, 176);
        background-color:white;
    }

    .front,.behind,.block{
        width: 65px;
        height: 60px;
    }

    .behind{
        font:lighter 10px 'Caprasimo',serif;
    }

    .title{
        font:400 30px 'Caprasimo';
        text-align: center;
    }

}

@media(min-device-width: 480px) and (max-device-height: 850px) and  (orientation: landscape) {
    .container{
        padding: 2px;
        display: grid;
        gap: 2px;
        grid-template-columns:repeat(4,1fr) ;
        background-color:  rgb(82, 0, 176);
    }

    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color:  rgb(82, 0, 176);
    }
    #minus,#plus {
        background:rgb(82, 0, 176);
    }
    #minus:active,#plus:active {
        color: rgb(82, 0, 176);
        background-color: #fff;
        border: 1px solid rgb(82, 0, 176);
    }
    button[type=button]:active {
        border: 1px groove  rgb(82, 0, 176);
        color:  rgb(82, 0, 176);
        background-color:white;
    }

    .Game-Container{
        padding: 5px 50px;
    }

    .GameOver{
        margin-top: 5px;
        border-color:  rgb(82, 0, 176);
        width: 400px;
        height: 350px;
    }

    .fa-circle-xmark{
        color:rgb(82, 0, 176);
    }

    .front,.behind,.block{
        width: 120px;
        height: 65px;
    }

    .behind{
        font:100 12px 'Caprasimo',serif;
    }

    .title{
        font:400 18px 'Caprasimo';
        text-align: center;
    }
}

@media(min-device-width: 360px) and (max-device-height: 750px) and  (orientation: landscape) {
    .container{
        padding: 4px;
        display: grid;
        gap: 4px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(181, 3, 0);
    }
    #minus,#plus {
        background:rgb(181, 3, 0);
    }
    #minus:active,#plus:active {
        color: rgb(181, 3, 0);
        background-color: #fff;
        border: 1px solid rgb(181, 3, 0);
    }
    .Game-Container{
        padding: 0px 50px;
    }
    .GameOver{
        margin-top: 5px;
        border-color:  rgb(181, 3, 0);
        width: 400px;
        height: 350px;
    }

    .fa-circle-xmark{
        color:rgb(181, 3, 0);
    }

    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(181, 3, 0);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(181, 3, 0);
        color:rgb(181, 3, 0);
        background-color:white;
    }

    .front,.behind,.block{
        width: 140px;
        height: 60px;
    }

    .behind{
        font:100 12px 'Caprasimo',serif;
    }

    .title{
        font:400 18px 'Caprasimo';
        text-align: center;
    }
}

@media(max-device-width: 680px) and (max-device-height: 375px) and  (orientation: landscape) {
    .container{
        padding: 2px;
        display: grid;
        gap: 2px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(71, 179, 0);
    }

    #minus,#plus {
        background:rgb(71, 179, 0);
    }
    #minus:active,#plus:active {
        color: rgb(71, 179, 0);
        background-color: #fff;
        border: 1px solid rgb(71, 179, 0);
    }
    .Game-Container{
        padding: 0px 50px;
    }
    .GameOver{
        margin-top: 5px;
        border-color:  rgb(71, 179, 0);
        width: 400px;
        height: 350px;
    }

    .fa-circle-xmark{
        color: rgb(71, 179, 0);
    }
    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(71, 179, 0);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(71, 179, 0);
        color:rgb(71, 179, 0);
        background-color:white;
    }
    .front,.behind,.block{
        width: 100px;
        height: 50px;
    }

    .behind{
        font:100 12px 'Caprasimo',serif;
    }

    .title{
        font:400 18px 'Caprasimo';
        text-align: center;
    }
}

@media(max-device-width: 740px) and (max-device-height: 360px) and  (orientation: landscape) {
    .container{
        padding: 2px;
        display: grid;
        gap: 2px;
        grid-template-columns:repeat(4,1fr) ;
        background-color: rgb(160, 0, 80);
    }

    #minus,#plus {
        background:rgb(160, 0, 80);
    }
    #minus:active,#plus:active {
        color: rgb(160, 0, 80);
        background-color: #fff;
        border: 1px solid rgb(160, 0, 80);
    }
    .Game-Container{
        padding: 0px 50px;
    }

    .GameOver{
        margin-top: 5px;
        border-color:  rgb(160, 0, 80);
        width: 400px;
        height: 350px;
    }

    .fa-circle-xmark{
        color: rgb(160, 0, 80);
    }
    button[type=button] {
        border: 1px solid black;
        color:white;
        background-color: rgb(160, 0, 80);
    }
    
    button[type=button]:active {
        border: 1px groove rgb(160, 0, 80);
        color:rgb(160, 0, 80);
        background-color:white;
    }
    .front,.behind,.block{
        width: 100px;
        height: 50px;
    }

    .behind{
        font:100 12px 'Caprasimo',serif;
    }

    .title{
        font:400 18px 'Caprasimo';
        text-align: center;
    }
}