@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: Caprasimo;
    src: url('fonts/Caprasimo/Caprasimo-Regular.ttf') format('ttf')
}

body{
    margin: 0;
    padding: 0;
  
    background-color: cornsilk;
}

.boss{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.input-form{
    padding: 5px;
    width: 100%;
    font:100 15px 'Caprasimo',serif;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-form>label{
    padding: 5px;
}

input[type=number] {
    padding: 5px;
    text-align: center;
}
button[type=button] {
    padding: 5px;
    text-align: center;
    width: 100px;
}

.block{
    width: 250px;
    height: 250px;
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.container{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(4,250px) ;
    margin-left: 10px;
    background-color: chocolate;
}

.front{
    width: 250px;
    height: 250px;
    position: absolute;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.behind{
    width: 250px;
    height: 250px;
    position: absolute;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font:100 20px 'Caprasimo',serif;
    rotate: y 180deg;
}

.title{
    font:400 18px 'Caprasimo';
    text-align: center;
    width: 100%;
    height: fit-content;
}

.flip{
    rotate: y 180deg;
    transform-style: preserve-3d;
    transition: rotate 4;
}


@media only screen and (max-width: 1280px) {
    .container{
        padding: 10px;
        display: grid;
        gap: 5px;
        grid-template-columns:repeat(4,250px) ;
        background-color: rgb(18, 117, 124);
    }

    .front,.behind,.block{
        width: 250px;
        height: 50px;
    }

    .behind{
        font:100 12px 'Caprasimo',serif;
    }

    .title{
        font:400 15px 'Caprasimo';
        text-align: center;
    }

}
@media only screen and (max-width: 850px) {
    .container{
        padding: 10px;
        display: grid;
        gap: 5px;
        grid-template-columns:repeat(4,100px) ;
  
        background-color: rgb(18, 117, 124);
    }

    .front,.behind,.block{
        width: 100px;
        height: 100px;
    }

    .behind{
        font:100 12px 'Caprasimo',serif;
    }

    .title{
        font:400 15px 'Caprasimo';
        text-align: center;
    }

}

@media(min-device-width: 480px) and (max-device-height: 850px) and  (orientation: landscape) {
    .container{
        padding: 10px;
        display: grid;
        gap: 5px;
        grid-template-columns:repeat(4,100px) ;
        background-color: rgb(124, 44, 18);
    }

    .front,.behind,.block{
        width: 100px;
        height: 50px;
    }

    .behind{
        font:100 10px 'Caprasimo',serif;
    }

    .title{
        font:400 15px 'Caprasimo';
        text-align: center;
    }
}